body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  width: 100px;
  float: left;
}

.wordDef{
  flex-wrap: wrap;
  align-content:flex-start;
  text-align: start;
  float: left;
}
.btnContainer{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}


.wrongAns{
  background-color: red;
}

.correctAns{
  background-color: green;
}

.word{
  font-size: xx-large;
}

.test input{  
  content: '';
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  background-color: #282c34;
}

/* END CHECKBOX STYLE */





